.travel-search {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background: #eee;
}

.bird-back {
    position: absolute;
    width: 100%;
    height: 100%;
}

.search-box {
    padding: 15px;
    background: rgba(255,255,255,0.8);
}

